<div class="background h-100 m-auto d-flex justify-content-center">
   <div id="login" class="container h-100 m-auto d-flex justify-content-center">
      <div class="col-md-9 col-lg-8 mx-auto">
         <div class="card-container text-center">
            <img id="img" src="/assets/white-cef-logo.png" alt="CEF Logo">
         </div>
         <h1 class="text-center text-white">Log In</h1>
            <div class="form-container">
               <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-floating mb-4">
                     <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">
                     <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                       <div class="text-warning fw-bold" *ngIf="f.email.errors.required">Email is required</div>
                       <div class="text-warning fw-bold" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                     <label for="floatingInput">Email address</label>
                   </div>
                   <div class="form-floating mb-4">
                     <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
                     <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                       <div class="text-warning fw-bold" *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                     <label for="floatingPassword">Password</label>
                   </div>
   
                   <div class="form-check mb-4">
                     <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" checked>
                     <label class="form-check-label text-white" for="rememberPasswordCheck">
                       Remember password
                     </label>
                   </div>
   
                   <div class="d-grid">
                     <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                     <div class="text-center">
                       <a class="small text-white" href="#">Forgot password?</a>
                     </div>
                   </div>
               </form>
            </div>
      </div>
   </div>
</div>