<div class="background h-100 m-auto d-flex justify-content-center">
   <div id="login" class="container h-100 m-auto d-flex justify-content-center">
      <div class="col-md-9 col-lg-8 mx-auto">
         <div class="card-container text-center">
            <img id="img" src="/assets/white-cef-logo.png" alt="CEF Logo">
         </div>
         <h1 class="text-center text-white">Log In</h1>
            <div class="form-container">
               <form [formGroup]="loginForm" (ngSubmit)="ProceedLogin()">
                  <div class="form-floating mb-4">
                     <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="username"  id="inputEmail4" autocomplete="off" >
                     <div *ngIf="submitted && username?.invalid && (username?.touched || username?.dirty)" class="text-warning">
                       <div class="text-warning fw-bold" *ngIf="username?.errors?.['required']">Email is required</div>
                       <div class="text-warning fw-bold" *ngIf="username?.errors?.['email']">Email must be a valid email address</div>
                    </div>
                     <label for="floatingInput">Email address</label>
                   </div>
                   <div class="form-floating mb-4">
                     <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"  id="inputPassword4" autocomplete="off" >
                     <div *ngIf="submitted && password?.invalid && (password?.touched || password?.dirty)" class="text-warning">
                       <div class="text-warning fw-bold" *ngIf="password?.errors?.['required']">Password is required</div>
                    </div>
                     <label for="floatingPassword">Password</label>
                   </div>
   
                   <div class="form-check mb-4">
                     <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" checked>
                     <label class="form-check-label text-white" for="rememberPasswordCheck">
                       Remember password
                     </label>
                   </div>
   
                   <div class="d-grid">
                     <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                     <div class="text-center">
                       <a class="small text-white" href="#">Forgot password?</a>
                     </div>
                   </div>
               </form>
            </div>
      </div>
   </div>
</div>