<div class="container w-100 m-auto mb-5 mt-5">
  <div class="row">
    <h3 class="mat-h3 text-center article-title">LEADER DASHBOARD</h3>
  </div>
  <section>
      <div class="container message-container">
          <div class="my-3 p-3">
              <h1 class="border-bottom border-gray pb-2 mb-0 h2 text-muted"><mat-icon>announcement</mat-icon>MESSAGE BOARD</h1>
              
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" *ngFor="let message of messages">
                  <strong class="d-block text-gray-dark">{{message.name}}</strong>
                  {{message.text}}
                </p>
              </div>
              <small class="d-block text-right mt-3">
                <a href="#">All messages</a>
              </small>
          </div>
      </div>
  </section>
  
  <section class="border-top">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
    
            <div class="card">
              <div class="card-body p-5">
    
                <header>
                  <div class="row align-items-center py-3 px-4">
                          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-4">
                            <h1 class="fs-5 mb-0">
                              <i class="fa-solid fa-list  pe-3"></i>
                              <span>TO DO LIST:</span>
                           </h1>
                          </div>
                          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-4">
                            <h2 class="fs-6 mb-0" id="date">{{today | date:'fullDate'}}</h2>
                          </div>
                          <div class="col-md-2 col-xs-2 col-sm-2 col-lg-4">
                            <h2 class="fs-6 mb-0" id="time">{{today | date:'h:mm a'}}</h2>
                          </div>
                   </div>
                   <form class="d-flex justify-content-center align-items-center mb-4">
                    <div class="form-outline flex-fill">
                      <input type="text" id="form2" class="form-control" />
                      <label class="form-label" for="form2">New task...</label>
                    </div>
                    <button type="submit" class="btn btn-info ms-2">Add</button>
                  </form>
                </header>
                <form>
                  <ul class="list">
                    <li>
                      <input id="item-0" type="checkbox">
                      <label for="item-0">Create this list</label>
                    </li>
                    <li>
                      <input id="item-1" type="checkbox">
                      <label for="item-1">Style it pretty</label>
                    </li>
                    <li>
                      <input id="item-2" type="checkbox">
                      <label for="item-2">Check all the circles</label>
                    </li>
                    <li>
                      <input id="item-3" type="checkbox">
                      <label for="item-3">Time for a drink</label>
                  </ul>
                </form>

              </div>
            </div>
    
          </div>
        </div>
      </div>
  </section>

  <section class="border-top">
      <div class="container request-container mt-5 m-auto">
          <div class="row">
              <div class="col col-12 col-sm-12 col-md-6 col-lg-4 p-5 border-bottom border-sm-bottom border-md-bottom-0 border-md-right">
                  <h2 class="h2 mt-1 mb-5 text-muted">PASSAGE OF THE DAY</h2>
                  <p *ngFor="let chapter of Bible">
                    {{chapter.name}}
                </p>              </div>
              <div class="col col-12 col-sm-12 col-md-6 col-lg-4 p-5 border-bottom border-sm-bottom border-md-bottom-0 border-lg-right">
                  <h2 class="h2 mt-1 mb-5 text-muted">PRAYER REQUESTS</h2>
                  <p *ngFor="let person of prayers">
                      {{person.name}}: {{person.text}}
                  </p>
              </div>
              <div class="col col-12 col-sm-12 col-md-12 col-lg-4 p-5 m-auto border-md-top border-lg-top-0">
                  <h2 class="h2 mt-1 mb-5 text-muted">PRAISES</h2>
                  <p *ngFor="let person of praises">
                      {{person.name}}: {{person.text}}
                  </p>
              </div>
          </div>
      </div>
  </section>
</div>