.border-top-0 {
    border-top:0!important;
}
.border-right-0 {
    border-right: 0!important;
}
.border-left-0 {
    border-left: 0!important;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-sm-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-sm-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-sm-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-sm-top-0 {
        border-top:0!important;
   }
    .border-sm-right-0 {
        border-right: 0!important;
   }
    .border-sm-left-0 {
        border-left: 0!important;
   }
    .border-sm-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-md-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-md-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-md-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-md-top-0 {
        border-top:0!important;
   }
    .border-md-right-0 {
        border-right: 0!important;
   }
    .border-md-left-0 {
        border-left: 0!important;
   }
    .border-md-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #dee2e6!important;
   }
    .border-lg-right {
        border-right: 1px solid #dee2e6!important;
   }
    .border-lg-left {
        border-left: 1px solid #dee2e6!important;
   }
    .border-lg-bottom {
        border-bottom: 1px solid #dee2e6!important;
   }
    .border-lg-top-0 {
        border-top:0!important;
   }
    .border-lg-right-0 {
        border-right: 0!important;
   }
    .border-lg-left-0 {
        border-left: 0!important;
   }
    .border-lg-bottom-0 {
        border-bottom: 0!important;
   }
}
@media (min-width: 1200px) {
}


.request-container{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border-radius: 20px;
   background-color: white;
}

.message-container{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border-radius: 20px;
   background-color: white;
}

.todo-container{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   border-radius: 20px;
}

.article-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(to bottom, rgba(226,37,255) 0%, rgba(73,198,252) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}